.bookContent {
  /* Add your book content styling here */
  line-height: 1.6;
}

.bookContent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.bookContent h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.bookContent p {
  margin-bottom: 1.2rem;
}
