# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
build/
*.log*

# Node.js/JavaScript/TypeScript
node_modules/
dist/
.env*
.docusaurus/
package-lock.json
yarn.lock

# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
uv.lock

# Docker
.dockerignore